/* style.css */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(64, 64, 64, 0.957)), url("../background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.navbar {
  position: fixed;
  top: 1.5%;
  left: 2%; /* Align navbar to the left */
  width: 100%;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0); 
  z-index: 1;
  display: flex;
  justify-content: flex-start; /* Align navbar to the left */
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center; /* Center the items vertically */
  text-align: center; /* Center the text horizontally */
}

.navbar ul li {
  margin: 0 15px;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: larger;
  font-size: large;
}

#canvas-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 10px solid #949494b7;
  border-radius: 15px;
  padding: 5px;
}

.clear-button {
  font-size: 16pt;
  padding: 10px;
  background-color: #9DBC98;
  color: #503C3C;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Cascadia Code', monospace;
}

.clear-button:hover {
  background-color: #F9EFDB;
}

.results-container {
  border: 8px solid #9DBC98;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-size: 19pt;
  font-family: 'Cascadia Code', monospace;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  position: relative;
}

.navbar ul li a::after {
  content: '';
  height: 3px;
  width: 100%;
  background: gold; /* Set the color to gold */
  position: absolute;
  left: 0;
  bottom: -5px; 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.navbar ul li a:hover::after {
  opacity: 1; 
  background: gold !important; /* Set the background color to gold */
  color: gold !important; /* Set the text color to gold */
}
